<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Data Param Editor</title>
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
  <link rel="stylesheet" href="/resources/demos/style.css">
  	<!-- CSS for presentation. -->
    <style>
   		#QueueTestsList { list-style-type: none; margin: 0; padding: 0; width: 60%; }
  		//#QueueTestsList li { margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 1.5em; font-size: 1.4em; height: 18px; }
		#QueueTestsList li span { position: absolute; margin-left: -1.3em; }
    
   		h1 { font-size: 14px; color: hotpink; }
    	button { color: red; }

		table, th, td {
    		border: 1px solid black;
    		border-collapse: collapse;
		}
    </style>  

  <SCRIPT> 
    $(  function() {
            $( "#QueueTestsList" ).sortable();
            $( "#QueueTestsList" ).disableSelection();
        }
    );
	</SCRIPT> 
	
	
</head>
<body>
	    <!-- JavaScript for interactivity. -->
    <script>
 
    // Get a handle on the first button element in the document.
    var button = document.querySelector( "button" );
 
    // If a user clicks on it, say hello!
    button.addEventListener( "click", function( ev ) {
        alert( "Hello" );
        alert( jQuery.isFunction( ev ) );
    }, false);
 
    </script>

    <h1>Data Param Title</h1>
    <button>Click Me!</button>
     
    <div id="QueuedTests" style="padding:10px; color: black; background-color: eeeeee; border: black 1px solid" >
		<label id="QueuedTests"><b>Common Params:</b></label><br>
		<div id="QueuedTestsListDiv" style="padding:10px; color: black; background-color: eeeeee; border: black 1px solid" >
			<ul id="QueueTestsList">
			</ul>
		</div>
	</div>
    
    
    <table id="ParametersTable" style="">
    <tr><th>Name</th><th>Type</th><th width=500>Value</th></tr>
    </table>
</body>
</html>